@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


/* cabeçalho do site*/
.cabecario{
    
    width: 100%;
    height: 100%;
    background-repeat:no-repeat ; 
    background-image:  url('../../../public/imagens/capa2.png');
}

.pLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: clamp(20px, 20px + 3vw, 120px) ;
    font-family: 'Open Sans';
    top: 35%;
    left: 43%;
}

.p1Login{
    display: flex;
    position: absolute;
    color: #FFD600;
    font-size: clamp(10px, 6px + 3vw, 100px) ;
    top: 50%;
    left: 43%;
}


#logoLog{
    position: absolute;
    display: flex;
    width: 14%;
    height: 48%;
    top: 24%;
    left: 21%;
}


body{
    font-family: Inter;
    background-color: #121212 ;

}


.bloco{
        display: flex;
        height: 600px ;
        width: 40%;
        background-color:#FCE011;
        background-repeat:no-repeat ;
}


#logoImg{
    display: flex;
    width: 4%;
    height: 4%;
    margin-left: 17%;
    margin-top: -360px;
}

.titulo{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 64%;
    top: 79%;
    color: #FFD600;
    font-size: clamp(20px, 10px + 3vw, 55px);
}

.form{
    position: absolute;
    width: 27%;
    height: 40%;
    left: 58%;
    top: 93%;
       
}

.inputBox{
    position: relative;
    padding: 7px;
}

.inputUser{
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    color: black;
    font-size: clamp(5px, 5px + 3vw, 20px);

}

.labelInput{
    position: absolute;
    top: 17px;
    left: 13px;
    pointer-events: none; 
    transition: .5s;
    font-size: clamp(10px, 2px + 2vw, 15px);
    color: black;
}


/* faz o movimento da caixinha de seleção*/
.inputUser:focus ~ .labelInput, 
.inputUser:valid ~ .labelInput{     
    top: -20px;
    font-size: 13px;
    color: #FFD600;
}

#submit{
    position: absolute;
    width: 45%;
    right:0;
    background:  #FCE011;
    border: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: clamp(4px, 1px + 2vw, 15px);
    border-radius: 15px;
    
}


.bloco2{
    position: absolute;
    display: flex;
    height: 0.5px ;
    width: 28%;
    left: 57%;
    top: 87.5%;
    background-color: #FFD600;
}


@media screen and (max-width: 900px) {

    .pLogin{
        left: 46%;
        top: 36%;
    }

    .p1Login{
        left: 46%;
        top: 46%;
    }

    #logoLog{
        position: absolute;
        display: flex;
        width: 23%;
        height: 33%;
        top: 26%;
        left: 10%;
    }

    #logoImg{
        display: flex;
        width: 9%;
        height: 9%;
        margin-top: -360px;
    }

    .titulo{
        position: absolute;
        width: 13%;
        height: 7%;
        left: 61.5%;
        top: 81%;
        color: #FFD600;
        font-size: clamp(20px, 10px + 3vw, 55px);
    }
   
    .inputBox{
        position: relative;
        padding: 1px;
    }


}

    