@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');




.tituloLogin{
    position: absolute;
    width: 13%;
    height: 7%;
    left: 66%;
    top: 81%;
    color: #FFD600;
    font-size: clamp(20px, 10px + 3vw, 55px);

}

.formLogin{
    position: absolute;
    width: 25%;
    height: 30%;
    left: 58%;
    top: 95%;
       
}
#link{
    position: absolute;
    top: 75%;
    text-decoration: none;
    font-size: clamp(5px, 6px + 1vw, 14px);
}

.bloco2Login{
    position: absolute;
    height: 0.1rem ;
    width: 27%;
    top: 90%;
    left: 57%;
    background-color: #FFD600;
}


@media screen and (max-width: 900px){

    #link{
        top: 82%;
    }

    .tituloLogin{
        top: 85%;
        left: 64%;
    }

    .bloco2Login{
        top: 91%;
    }
}

