@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.body{    
    position: absolute;
    height: 100%;
    width: 100%;
}

.Principal{
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.noticia{
    position: relative;
    width: 90%;
    height: 90%;
    background: #fff;
}

.noticiaG{
    position: absolute;
    width: 65%;
    height: 100%;
    background-color: #D0D0D0;
    cursor: pointer;
    text-decoration: none;
}

.link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}


#news{
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.noticiaP{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    right: 0px;
}

.noticiaPNoticias{
   display: flex;
}

#tit{
    color: black;
    top: 0px;
    font-size: 2vw;
    margin-left: 15px;
    margin-top: 4%;
    margin-bottom: 30px;
}

#text{
    position: absolute;
    top: 80%;
    left: 3%;
    font-size: 4vh;
    font-family: Inter;

}

#text2{
    position: absolute;
    color: black ;
    top: 55%;
    left: 48%;
    font-size: 1vw;
    font-family: Inter ;
}

.newsPrincipaisPequenas{
    width: 13vw;
    height: 23vh;
    margin-left: 7px;
    margin-bottom: 20px;
    object-fit: cover;
    
}

.linkNoticiasPrincipaisPequenas{
    text-decoration: none;
    padding: 15px;
}

.tituloNoticiasPequenas{
    color: #323131;
    font-size: 1vw;
    margin-bottom: 10px;
}
#titulo2{
    position: absolute;
    color: black;
    top: 35%;
    font-size: 1vw;
    left: 48%;

}

#news3{
    object-fit: cover;
}
.text3{
    color: black ;
    font-family: Inter ;
    font-size: 1.6vh;
    text-align: justify;
    overflow: hidden;
    padding: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.fundo{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -5%;
    background-color: #323131;
}


.barra{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #4B4B4B;
}

#vector{
    position: absolute;
    width: 2.8vw;
    height: 5vh;
    left: 50%;
    top: 28%;
    margin-left: 0px;
}

.eventos{
    position: absolute;
    width: 33.333%;
    height: 100%;
}

#vector2{
    position: absolute;
    width: 2.6vw;
    height: 5.5vh;
    left: 50%;
    top: 28%;
    margin-left: 0px;

}

.artigos{
    position: absolute;
    width: 33.333%;
    height: 100%;
    left: 33.33%;
}

#vector3{
    position: absolute;
    width: 3vw;
    height: 6vh;
    left: 50%;
    top: 28%;
    margin-left: 0px;

}

.noticias{
    position: absolute;
    width: 33.333%;
    height: 100%;
    right: 0;
    color: black;
    background-color: #FFD600;
}

#txtbarra{
    position: absolute;
    left: 45%;
    top: 60%;
    font-size: 1.7vw;

}

.txt{
    position: relative;
    width: 100%;
    height: 20%;
}
#txtPost{
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 2vw;
    
}

#txtViral{
    position: absolute;
    font-size: 2vw;
    top: 50%;
    left: 10%;
    color: #FFD600;
}

.principal2{
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sub{
    position: relative;
    width: 98%;
    height: 90%;
}

.maior{
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: #323131;
}

.efeito{
    border: none;
    color: black;
    padding: 2%;
    font-size: 1.3vw;
    line-height: 30%;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 40%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}


.efeito-3{
    background-color: #E7CD10 ;
}

.efeito:hover{
    background-color: rgba(0,0,0,0);
    color: #E7CD10;
    box-shadow: inset 0 0 0 2px #E7CD10;
}


.efeito2{
    border: none;
    color: black;
    padding: 2%;
    font-size: 1.3vw;
    line-height: 10%;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 60%;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito2-3{
    background-color: #E7CD10 ;
}

.efeito2:hover{
    background-color: rgba(0,0,0,0);
    color: #E7CD10;
    box-shadow: inset 0 0 0 2px #E7CD10;
}

#perigo{
    position: absolute;
    top: 62%;
    left: 4%;
    font-size: 1.3vw;
}

#perigoSub{
    position: absolute;
    top: 68%;
    left: 4%;
    font-size: 1.1vw;
    text-align: justify;
    padding: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    
}

#queimadas{
    position: absolute;
    display: flex;
    width: 88%;
    height: 52%;
    top: 6%;
    left: 7%;
    margin-left: 0px;
}


.blocoAmarelo{
    position: absolute;
    display: flex;
    width: 8%;
    height: 55%;
    top: 3%;
    left: 4%;
    background-color: #FFD600;
}

.menorS{
    position: absolute;
    width: 54.5%;
    height: 55%;
    right: 0px;
    background-color: #323131;
}

#txtExpe{
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 1.3vw;
}

#txtExpe2{
    position: absolute;
    top: 35%;
    left: 39%;
    font-size: 1.1vw;
    text-align: justify;
    padding: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#explorar{
    position: absolute;
    display: flex;
    width: 30%;
    height: 85.5%;
    top: 10%;
    left: 7%;
    margin-left: 0px;
}


.blocoAmarelo2{
    position: absolute;
    display: flex;
    width: 6%;
    height: 90%;
    top: 5%;
    left: 4%;
    background-color: #FFD600;
}


.menorI{
    position: absolute;
    width: 54.5%;
    height: 44%;
    right: 0px;
    bottom: 0px;
    background-color: #323131;
}

#noti{
    position: absolute;
    display: flex;
    width: 30%;
    height: 80%;
    top: 5%;
    left: 7%;
    margin-left: 0px;
}


.blocoAmarelo3{
    position: absolute;
    display: flex;
    width: 6%;
    height: 90%;
    top: 5%;
    left: 4%;
    background-color: #FFD600;
}

.BlogAdicionarNovasMaterias{
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 16px;
}