.headers{
    
    width: 100%;
    
}
header{
    width: 300px;
    height:calc(100vh - 300px) ;
    background-image: url('./imagens/image1.png');
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}
.main {
    
   
    display: flex;
    width: 1440px;
    margin: 0 auto;
}
.feed { 
   
    width: 100%;
    padding: 24px;
}
.caixacentral {
    color: white;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    height: 600;
    Size: 26px;
    line-height:35.41px ;

}

