@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

/* cabeçalho do site*/
.headers{
    
    width: 100%;
    margin: 0 auto;
    padding: 0; 
}

header{
    
    background-size: cover;
    background-repeat:no-repeat ;
    height:calc(100vh - 300px) ;
    background-image:  url('../../../public/imagens/image1.png');
    background-position: center;
   
}
/*barra de pesquisa*/
.toolbar {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    Top:18px;
    Left:99px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.221);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(0.8px);
    
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content:space-between;
    align-items: center;
}
li{
    margin: 0 15px;
}
a{
    color:white
}
a:hover{
    text-decoration: none;
    color:#FFD600;
    cursor: pointer;
    transition-duration: 1s;
}
img  {
    position:initial;
    display: flex;
    width: 80px;
    height: calc(100vh -45px);
    top: 14px;
    padding: 0;
    bottom: 10px;
    margin-left: 60px;
}
nav{
    display: flex;
    align-items: center;
    width:  90%;
    justify-content: space-between;
    margin: auto 60px;
    top: 54px;
    height: 35px;
    
}

/*Titulo central do site*/
.Titulo{
    display: flex;
    padding: 0px 0px;
    font-family: 'Russo One';
    font-style:normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 10px;
    position: relative;
    width: 100%;
    height:calc(100vh - 385px) ;
    top: calc(100vh - 932px)auto ;
    margin:  auto;
    background-color: rgba(0, 0, 0, 0.221);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(0.8px);
    
}
.p{
    max-width: 400px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    margin: 200px 0px 0px 90px;
    align-items:center ;
    position: absolute;
    
}
.p1{
    display: flex;
    position:relative;
    font-weight:bold;
    width: 100%;
    height: 100%;
    align-items:center ;
    max-width: 480px;
    max-height: 100px;
    margin: 210px 0px 0px 240px;
    color: #FFD600 ;
    
}
/*corpo do site*/
.main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
   
}
.feed{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 53px;
}
/*primeiros campos do site*/
.caixa1 {
    display: flex;
    width: 323px;
    height: 284px;
    left: 214px;
    top: 687px;
    align-items:flex-end;
    color:#FFD600;
    padding: 15px;
    background-color: #323131;
    margin:25px auto;

}
.caixa2 {
    display: flex;
    width: 323px;
    height: 284px;
    left: 214px;
    top: 687px;
    color:#000000;
    align-items:flex-end;
    margin: auto;
    padding: 15px;
    background-color: #FFD600 ;
    margin:25px auto;

}
.caixa3 {
    display: flex;
    width: 323px;
    height: 284px;
    left: 214px;
    top: 687px;
    color: #FFD600;
    align-items:flex-end;
    padding: 15px;
    background-color: #323131;
    margin: auto;
    margin:25px auto;

}
/*campo que tem o mapa e outras funcionalidades*/
.conteudo {
    display: flex;
    flex-direction: row;
    padding: 10px auto;
    height: 100%;
    width: 100%;
   
}
.trilhas{
    display: flex;
    flex-direction: row;
    padding: 10px auto;
    font-size:40px;
    margin-top: 70px;
    margin-left: -80px;
    height: 100%;
    width: 100%;
}
.trilhas b{
    margin-left: 105px; 
}
.trilhas img{
    margin-left: -1px;
    Width:150px;
    height: 2px;
    left: 65px;
    top: 1100px;
}
.seções{
    flex-direction: column;
    width: 530px;
    align-self: center;
}
/*localização*/
.Localização{
    display: flex;
    flex-wrap: wrap;    
    margin-top: 81px;
}
.Localização p{
    margin-left: 80px;
    font-size:large;
}
.Localização img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/*Dificuldade*/
.Dificuldade{
    display: flex;
    flex-wrap: wrap;  
    margin-top: 81px;
}
.Dificuldade p{
    margin-left: 80px;
    font-size:large;
}
.Dificuldade img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/*Distancia*/
.Distancia{
    display: flex;
    margin-top: 81px;
    flex-wrap: wrap;  
}
.Distancia p{
    margin-left: 80px;
    font-size:large;
}
.Distancia img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
/*Mapa do site*/
.mapa{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    width: 1350px;
    height: 600px;
    margin-top: 40px;

}
/*informaçoes*/
.informações{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin-top: 30px;
    background-color: #4B4B4B;
    align-items: center;
}
.blococinza{
    display: flex;
    flex-direction: row;
    margin-right: 800px;
    padding: auto;
}
.cinza{
   
    width: 351px;
    height: 245px;
    left: 780px;
    top: 1978px;
    font-size: 40px;
    padding-top: 70px;
    margin-bottom: 60px;
    margin-top: 121px;
    color:#FFD600;
    border: 2px solid #FFD600;
    
}
.cinza img{
    margin-left: 347px;
    width: 100%;
    height: 3px;
    width: 1000px;
    margin-top: -25px; 
}

.imagem img{
    padding-top: 220px;
    margin-right: 900px;
    width: 93.7%;
    
}
.b{
    width: 100%;
    height:100%;
    padding-left: 70px;
}
.b1{
    width: 100%;
    height:100%;
    padding-left: 120px;
}
/*sobre a trilha*/
.amarela{
    display: flex;
    width: 100%;
    height: 100%;
    color: #121212;
    height: 500px;
    font-weight: 400px;
    padding: 20px 20px;
    left: 0px;
    top: 2221px;
    background-color: #FFD600;
}
.amarela p{
    width: 50%;
    height: 100%;
    padding-top: 105px;
    padding-left: 70px;
    padding-right: 0px;
    font-size: 30px;
    justify-items: center auto;
    text-align: justify;
}
.amarela img{
    width: 100%;
    height: 100%;
    width: 900px;
    margin-top: -30px;
}
/*Rodapé*/
.rodape {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: rgb(27, 15, 15);
  position: relative;
}

