img{
    margin-left: 0px;
}

.topo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.text{
    width: 50%;
    left: 22%;
    top: 8vh;
    font-size: 6vw;
}

.foto {
    right: 0px;
}


.amarelo{
    position: absolute;
    width: 12vw;
    height: 120px;
    background-color: yellow;
}


#info {
    width: 50vw;
    margin-left: 0px;
    border-radius: 3px;
    object-fit: cover;
}

.topo{
    width: 100%;
}

.fundoText{
    width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 30px;

}
.blogBloco{
    display: flex;
    position: relative;
    width: 100%;
}

.corpo{
    width: 70%;
    background-color: #323131;
}

.fundoText2{
    width: 70%;
    margin-left: auto;
    margin: auto;
    font-size: 18px;    
}

.corpo2{
    margin-left: 30%;
    width: 70%;
    background-color: #323131;
}

.amarelo2{
    position: absolute;
    width: 15vw;
    height: 8vh;
    right: 0px;
    background-color: yellow;
}


.Blogcomentario{
    display: flex;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.Bl{
    height: 100px;
    padding-top: 10px;
}

.blogBtn{
    background-color: #ffd700; /* Green */
    border: none;
    border-radius: 5px;
    color: black;
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;

}

.BlogComentario-texto {
    color: black;
    margin-left: 10px;
}

.BlogComentario-botao {
    border: none;
    float: right;
    padding: 8px 18px;
    border-radius: 3px;
    margin-top: 30px;
    margin-right: 12px;
    background-color: #ffd700;

}

#imgComentarios{
    border-radius: 100%;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}

.BlogFundoComentario{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    border-radius: 2px;
}

.BlogComentario-texto{
    width: 100%;
}

.BlogComentario-texto span{
    font-weight:bold;
}

.BlogFundoComentario p{
    padding: 5px;
}

.BlogEstruturaComentarios{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 

}

.BlogFundo-EstruturaComentarios{
    background-color: gray;
    width: 10%;
}


.BlogEstruturaComentarios-1{
    width: 100%
}


.BlogTexAreaComentarios{
    resize: none;
}

.BlogCaixa-Comentario{
    width: 65%;
    height: 6vh;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    outline: 50px;
    color: black;
    box-shadow: 2px 2px 2px 1px #0000001c;
}

.BlogCaixa-Comentario :hover{
    background-color: #eeeeee75;
}

.BlogCaixa-Comentario :focus-visible{
    outline: 1px solid yellow;
}


.BlogEstruturaComentarios-2{
    position: sticky;
    display: block;
    width: 700px;
    height: 650px;
    max-width: 500px;
    top: 0;
    left: 0;
}


.BackgroundMaisNoticias-main{
    width: 100%;
    height: 60%;
    border-radius: 15px;
    background-color: white;
}

.BackgroundMaisNoticias-main img{
    width: 50%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    object-fit: contain;
}


.BackgroundMaisNoticias-secundary{
    display: flex;
    height: 40%;
    justify-content: space-between;
    margin-top: 10px;
}

.BackgroundMaisNoticias-secundary-1{
    width: 49%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
}
.BackgroundMaisNoticias-secundary-2{
    width: 49%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
}

.BlogMaisConteudo p{
    color: #323131;
}

.tree.inactive{
    display: none;
}

.tree.active{
    background-color: aqua;
    width: 300px;
    height: 300px;
}

#id4{
    background-color: #ffd700;

}
@media screen and (min-width: 200px){
    .text{
        top: 3vh;
    }

    .amarelo{
        width: 10vw;
        height: 60px;
    }

    .Blogcomentario{
        margin-bottom: 10px;
    }

    .BlogEstruturaComentarios-2{
        margin-left: 20px;
    }
}


@media screen and (min-width: 900px){
    .text{
        top: 12vh;
        font-size: 5vw;
    }

    .amarelo{
        width: 10.5vw;
        height: 110px;
    } 
    
    .BlogEstruturaComentarios-2{
        margin-left: 20px;
    }
}

@media screen and (min-width: 1300px){
    .Blogcomentario{
        margin-bottom: 2px;
        margin-left: 30px;
        margin-right: 30px;
        background-color: white;
        border-radius: 5px;
    }

    
}